<footer class="footer">
	<div class="col">
    <form action="http://www.google.com/cse" id="cse-search-box">
      <input type="hidden" name="cx" value="007212716797013267673:irm0hfnyso4" />
      <input type="hidden" name="cof" value="" />
      <input type="hidden" name="ie" value="UTF-8" />
      <input  name="q" placeholder="Search" type="text" style="margin:0 auto; padding:0 .5rem;border:0;border-bottom:1px solid #ccc;background:#ccc;width:50%;max-width: calc(400px + 1.6rem);height:1.6rem;line-height:1.6rem;font-size: .9rem;border-radius: 1.8rem;">
    </form>
    <!-- <script type="text/javascript" src="http://www.google.com/cse/brand?form=cse-search-box&lang=zh-Hans"></script> -->
  </div>
	<div class="col">
		© 2017 {{ site.title }} | <a href="https://beian.miit.gov.cn/#/Integrated/index" target="_blank" class="subscribe">浙ICP备18044655号-1</a> | <a href="{{ "/feed.xml" | prepend: site.baseurl }}" class="subscribe">RSS</a> | <a href="https://github.com/songroger/murmur" class="subscribe">Theme By murmur</a>
	</div>
</footer>
